:root {
  --f0: 1vw;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar {
  width: 10px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: maroon;
  border-radius: 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

#loading{
  position: fixed;
 width: 100%;
 height: 100vh;
 background: #fff 
 url('./images/preloader.gif') no-repeat center;
 z-index: 9999;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(60deg, #f0f0f0 80%, #fff 20%);
}

.dividerb {
  text-align: center;
  width: calc(var(--f0) * 45);
  /* border: none; */
  border-top: calc(var(--f0) * 1) solid rgb(202, 202, 202);

  /* border-bottom-right-radius: 50px; */
}

.navbar {
  background-color: whitesmoke;
  z-index: 5;
  border: none;
  border-top: calc(var(--f0) * 1) solid maroon;
  height: 90px;
}

/* .nav-item :hover {
  background-color: #3b3b3b;
  border-radius: 33px;
  color: white !important;
} */

.nav-link:active{
  color: #000 !important;
}

.title {
  padding-left: 1rem;
  font-weight: bolder;
  font-size: calc(var(--f0) * 2);
}

.nav-item:first-child {
  margin-left: calc(var(--f0) * 1);
}

.nav-item {
  display: inline-block;
  position: relative;
  font-weight: 500;
  margin-left: calc(var(--f0) * 1.2);
  font-size: calc(var(--f0) * 1.3);
  color: black;
}

.contact {
  text-align: left;
  font-weight: 500;
  font-size: calc(var(--f0) * 1);
}

.contact a i {
  margin-right: 5px;
}

.contact > a {
  text-decoration: underline;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom;
}

.slider-img {
  /* z-index: -1; */
  width: calc(var(--f0) * 100);
  height: calc(var(--f0) * 40);
}

.Gallery-title {
  /* padding: calc(var(--f0)*2); */
  font-size: calc(var(--f0) * 1);
  text-align: center;
  font-weight: bold;
}

/* .Gallery-img {

.extra-activities-card{
    border:2px solid #f0f0f0;
    cursor: pointer;
}

/* .gallary-img {

    object-fit: contain;
    height: calc(var(--f0)*40);
} */

.Gallery-detail {
  overflow-y: auto;
  padding: 10px;
}

.Mtitle {
  border-left: calc(var(--f0) * 1) solid maroon;
  margin-bottom: calc(var(--f0) * 1);
  padding-left: calc(var(--f0) * 1);
  font-weight: 500;
  font-size: calc(var(--f0) * 1.2);
}

.map {
  height: calc(var(--f0) * 20);
  width: calc(var(--f0) * 90);
}

/*  */
#footer {
  background: #404040;
  color: #fff;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #404040;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 8px;
  width: calc(100% - 140px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 30px;
  margin: 3px;
  background: #e96b56;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #e6573f;
}

#footer .footer-top {
  background: #3b3b3b;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #545454;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links .fa-facebook:hover {
  background: #3b5998;
  color: white;
}

#footer .footer-top .social-links .fa-twitter:hover {
  background: #55acee;
  color: white;
}

#footer .footer-top .social-links .fa-instagram:hover {
  background: #c13584;
  color: white;
}

#footer .footer-top .social-links .fa-youtube:hover {
  background: #bb0000;
  color: white;
}

/* #footer .footer-top .social-links a:hover {
    background: #e96b56;
    color: #fff;
    text-decoration: none
} */

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ec7f6d;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

/* #footer .footer-top .footer-links ul a:hover {
    color: #e96b56
} */

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  /* padding-top: 30px */
}

#footer .credits {
  /* padding-top: 10px; */
  text-align: center;
  font-size: calc(var(--f0) * 1);
  color: #fff;
}

/*-------------------------------------------------------------- */

.carousel-item {
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 0;
  right: 0;
}

.carousel-caption h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 3.125rem !important;
  font-weight: 700;
  width: 80%;
  margin: 0px auto 30px auto;
}

.carousel-caption p {
  font-size: 1.125rem !important;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0px auto 30px auto;
}

@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 38px;
  }
  .nav-item {
    font-size: 20px;
  }
  .navbar-collapse {
    background-color: white;
    padding: 10px;
  }
  .contact {
    font-size: 16px;
    padding: 5px 0;
  }
}

@media (max-width: 577px) {
  .carousel-caption h5 {
    font-size: 25px;
  }

  .carousel-caption p {
    font-size: 13px;
  }
}
